<div class='multi <%= field_name.pluralize %>'>
  <span class='label'><%= contactable.class.human_attribute_name(field_name.pluralize) %>:</span>
  <ul>
  <% contactable.send(field_name.pluralize).each do |field| %>
    <li><%= send(field_name + '_label',field) %></li>
  <% end %>
  </ul>
</div>